<div class="mx-auto mt-5" style="max-width: 700px;">
  <h1 class="text-center heading text-success">
    User Registration Form
  </h1>


  <!-- User Registration Form -->

  <form #ref="ngForm" (ngSubmit)="addUserData(ref)">

    <div>
      <label for="un">UserName</label>
      <input type="text" name="username" id="un" class="form-control" ngModel>
    </div>

    <div>
      <label for="pw">Date of Birth</label>
      <input type="date" name="dob" id="pw" class="form-control" ngModel>
    </div>

    <div>
      <label for="em">E-Mail</label>
      <input type="email" name="email" id="em" class="form-control" ngModel>
    </div>

    <!-- <button type="submit" class="btn d-block mx-auto m-3">Register</button> -->
    <button type="submit" class="btn btn-danger d-block mx-auto m-3">Register</button>


  </form>


  <div class="text-center">
    <h2 class="text-info">List of registered users</h2>
    <h1 *ngIf="users.length==0">No user found</h1>

    <div *ngIf="users.length!=0">
      <table class="table">
        <thead>        <!-- Added <thead> to wrap the header row -->
          <tr>
            <th>UserName</th>
            <th>Date of Birth</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userObj of users">
            <td>{{userObj.username}}</td>
            <td>{{userObj.dob}}</td>
            <td>{{userObj.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>





</div>